<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
    <!--
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/prat0318/json_resume/master/extras/resume_html/public/css/screen.css" />
    -->
    <!-- TODO: import mobile.css -->
    <!--
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/prat0318/json_resume/master/extras/resume_html/public/css/mobile.css" />
    -->
	<style>
	{{{css}}}
	</style>
	
	</head>
	<body>
	
	<div id="page">

        {{#resume.basics}}
        <div id="top-contact">
            <div class="contact-details">
                {{#if email}}
                <div class="fa fa-envelope"></div> {{email}}<br />
                {{/if}}
                {{#if phone}}
                <div class="fa fa-phone"></div> {{phone}}<br />
                {{/if}}
                {{#if website}}
                <div class="fa fa-globe"></div><a href="{{website}}"> {{website}}</a>
                {{/if}}
            </div>
        </div>

        <h1 class="emphnext">{{name}}</h1><br/>
        {{#stars}}
        <span class="stars">
            {{#items}}
            {{name}} {{^last}}<div class="icon-star-o icon-star"></div>{{/last}}
            {{/items}}
        </span>
        {{/stars}}
        <br/>

        {{#if summary}}
        <h2><div class="fa fa-user"></div> Qualifications Summary</h2>
        <!-- TODO -->
        <!-- ul>
            {{#points}}
            <li>{{{.}}}</li>
            {{/points}}
        </ul -->
		<div class="summary">
			<p>{{summary}}</p>
		</div>
        {{/if}}

        {{#if skills}}
        <h2><div class="icon-th-list icon-square"></div> Technical Skills</h2>
        <ul class="languages">
            {{#details}}
            <li>{{type}}:
                {{#items}}
                <span class="label label-default">{{name}}</span>
                {{/items}}
            </li>
            {{/details}}
        </ul>
        {{/if}}

    <!-- TODO: label -->
	<!-- h2>{{label}}</h2 -->
	<!-- section id="basics" -->
        <!--
		{{#location}}
		<h3>Location</h3>
		<section id="location">
			{{#if address}}
			<div class="address">
				<strong>Address</strong>
				{{address}}
			</div>
			{{/if}}
			{{#if postalCode}}
			<div class="postalCode">
				<strong>Postal code</strong>
				{{postalCode}}
			</div>
			{{/if}}
			{{#if city}}
			<div class="city">
				<strong>City</strong>
				{{city}}
			</div>
			{{/if}}
			{{#if countryCode}}
			<div class="countryCode">
				<strong>Country code</strong>
				{{countryCode}}
			</div>
			{{/if}}
			{{#if region}}
			<div class="region">
				<strong>Region</strong>
				{{region}}
			</div>
			{{/if}}
		</section>
		{{/location}}
        -->

        <!--
		{{#if profiles.length}}
		<h3>Profiles</h3>
		<section id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<strong class="network">
					{{network}}
				</strong>
				{{/if}}
				{{#if username}}
				<div class="username">
					{{username}}
				</div>
				{{/if}}
				{{#if url}}
				<div class="url">
					<a href="{{url}}">Link</a>
				</div>
				{{/if}}
			</div>
			{{/each}}
		</section>
		{{/if}}
        -->
	<!-- /section -->
	{{/resume.basics}}

    {{#if resume.work.length}}
	<h2><div class="fa fa-briefcase"></div> Professional Experience</h2>
	<ul>
        {{#each resume.work}}
        <!-- TODO: location -->
		<li>{{position}}, {{#if website}}<a href="{{website}}">{{company}}</a>{{else}}{{company}}{{/if}}{{#if location}}, {{{location}}}{{/if}}
            <span class="right">({{#if startDate}}{{startDate}} – {{/if}}{{#if endDate}}{{endDate}}{{else}}Present{{/if}})</span>
            {{#if summary}}
            <p>{{ summary }}</p>
            {{/if}}
			<ul>
				{{#if highlights.length}}
                {{#each highlights}}
				<li>{{{.}}}</li>
				{{/each}}
                <!-- TODO: technology_used -->
				{{#technology_used}}
				<li>##technology_used##:
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}
			</ul>
            {{/if}}
		</li>
		{{/each}}
	</ul>
	{{/if}}

    {{#if resume.volunteer.length}}
	<h2><div class="fa fa-hand-paper-o"></div> Professional Experience</h2>
	<ul>
        {{#each resume.volunteer}}
        <!-- TODO: location -->
		<li>{{position}}, {{#if website}}<a href="{{website}}">{{organization}}</a>{{else}}{{organization}}{{/if}}{{#if location}}, {{{location}}}{{/if}}
            <span class="right">({{#if startDate}}{{startDate}} – {{/if}}{{#if endDate}}{{endDate}}{{else}}Present{{/if}})</span>
            {{#if summary}}
            <p>{{ summary }}</p>
            {{/if}}
			<ul>
				{{#if highlights.length}}
                {{#each highlights}}
				<li>{{{.}}}</li>
				{{/each}}
                <!-- TODO: technology_used -->
				{{#technology_used}}
				<li>##technology_used##:
					{{#tools}}
					<span class="label label-default">{{name}}</span>
					{{/tools}}
				</li>
				{{/technology_used}}
			</ul>
            {{/if}}
		</li>
		{{/each}}
	</ul>
	{{/if}}

	{{#if resume.education.length}}
	<h2><div class="fa fa-graduation-cap"></div> Education</h2>
	<div id="mobile-table">
		<div class="table-responsive">
			<table class="table education">
				<tr>
                    <!-- TODO: handle show_gpa GPA -->
					<th>Degree</th><th>Major</th><th>Institution</th><th nowrap>Graduation Year</th><th>GPA</th>
				</tr>
				{{#each resume.education}}
				<tr>
					<td>{{studyType}}</td><td>{{area}}</td><td>{{institution}}</td><td align="center">{{endDate}}</td>{{#if gpa}}<td>{{gpa}}</td>{{/if}}
				</tr>
				{{/each}}
			</table>
		</div>
	</div>
	<div id="desktop-table">
		<table class="table education">
			<tr>
                <!-- TODO: handle show_gpa GPA -->
				<th>Degree</th><th>Major</th><th>Institution</th><th nowrap>Graduation Year</th><th>GPA</th>
			</tr>
			{{#each resume.education}}
			<tr>
				<td>{{studyType}}</td><td>{{area}}</td><td>{{institution}}</td><td align="center">{{endDate}}</td>{{#if gpa}}<td>{{gpa}}</td>{{/if}}
			</tr>
			{{/each}}
		</table>
	</div>
	{{/if}}

    <!-- TODO: -->
    <!--
	{{#if resume.skills.length}}
	<section id="skills">
		<h2>Skills</h2>
		{{#each resume.skills}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if level}}
			<div class="level">
				<em>{{level}}</em>
			</div>
			{{/if}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
    -->

    <!-- TODO: -->
    <!--
	{{#if resume.languages.length}}
	<section id="languages">
		<h2>Languages</h2>
		{{#each resume.languages}}
		<div class="item">
			{{#if language}}
			<div class="language">
				{{language}}
			</div>
			{{/if}}
			{{#if fluency}}
			<div class="fluency">
				<em>{{fluency}}</em>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
    -->

	{{#if resume.interests.length}}
	<section id="interests">
		<h2>Interests</h2>
		{{#each resume.interests}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.references.length}}
	<section id="references">
		<h2>References</h2>
		{{#each resume.references}}
		<div class="item">
			{{#if reference}}
			<blockquote class="reference">
				{{reference}}
			</blockquote>
			{{/if}}
			{{#if name}}
			<div class="name">
				— {{name}}
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	</div>
	
	</body>
</html>
